.grid-text-images {
  height: 100vh;
  display: grid;
  grid-template: "text images" / 50% 1fr;
}

.grid-text-cell {
  grid-area: text;
  z-index: 1;
  display: grid;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
}

.grid-text-area {
  background-color: #242424EE;
  padding: 5vh 5vw;
  border-radius: 3em;
  margin: auto 5%;
}

.grid-images-cell {
  grid-area: images;
  display: flex;
  flex-wrap: nowrap;
}

.grid-image-cell {
  margin: 0 3em;
  min-width: 100vw;
  display: grid;
  align-items: center;
}

@media only screen and (max-width: 1300px) {
  .grid-text-images {
    grid-template:
      "text"
      "images";
  }
}

@media only screen and (max-width: 1300px) and (max-height: 1100px) {
  .grid-text-images {
    grid-template: 1fr / 1fr
  }

  .grid-text-cell {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .grid-images-cell {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

}